<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<body>
	<div class="container carusel">
		<div id="carousel-example-generic" class="carousel slide"
			data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li data-target="#carousel-example-generic" data-slide-to="0"
					class="active"></li>
				<li data-target="#carousel-example-generic" data-slide-to="1"></li>
				<li data-target="#carousel-example-generic" data-slide-to="2"></li>
			</ol>

			<!-- Wrapper for slides -->
			<div class="carousel-inner" role="listbox">
				<div class="item active">
					<img src="/carousel/baner1.jpg" alt="banner1">
				</div>
				<div class="item">
					<img src="/carousel/baner2.jpg" alt="banner2">
				</div>

			</div>

			<!-- Controls -->
			<a class="left carousel-control" href="#carousel-example-generic"
				role="button" data-slide="prev"> <span
				class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a> <a class="right carousel-control" href="#carousel-example-generic"
				role="button" data-slide="next"> <span
				class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</div>
	<!-- fin carusel -->

	<div class="container">
		<ul class="nav nav-horizontal">
			<li class="nav-item"><img alt=""
				src="svg-gliphicons\05-commerce\ecommerce-payment-hand-creditcard.svg">Hasta
				6 cuotas sin interes</li>
			<li class="nav-item"><img alt=""
				src="svg-gliphicons\05-commerce\ecommerce-payment-hand-coins.svg">Tarjeta
				de Debito</li>
			<li class="nav-item"><img alt=""
				src="svg-gliphicons\05-commerce\ecommerce-payment-hand-cash.svg">Efectivo
				y Transferencia</li>
			<li class="nav-item"><img alt=""
				src="svg-gliphicons\05-commerce\ecommerce-business-shopping-receipt.svg">Mas
				medios de pago</li>
		</ul>
	</div>
	<!-- fin medios de pago -->

	<div class="container">
		<span>Basado en tu ultima visita</span> <span><b>Ver
				historial</b></span>
		<ul class="nav nav-horizontal">
			<li>							
				<div class="thumbnail thumbnail-publicacion">
					<img src="products/tablet.jpg" alt="tablet">
					<div class="caption">
						<h4>$3500</h4>
					</div>
				</div>
			</li>
			<li>							
				<div class="thumbnail thumbnail-publicacion">
					<img src="products/tablet.jpg" alt="tablet">
					<div class="caption">
						<h4>$3500</h4>
					</div>
				</div>
			</li>
			<li>							
				<div class="thumbnail thumbnail-publicacion">
					<img src="products/tablet.jpg" alt="tablet">
					<div class="caption">
						<h4>$3500</h4>
					</div>
				</div>
			</li>
			<li>							
				<div class="thumbnail thumbnail-publicacion">
					<img src="products/tablet.jpg" alt="tablet">
					<div class="caption">
						<h4>$3500</h4>
					</div>
				</div>
			</li>
			<li>							
				<div class="thumbnail thumbnail-publicacion">
					<img src="products/tablet.jpg" alt="tablet">
					<div class="caption">
						<h4>$3500</h4>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<!-- fin basado en tu ultima visita -->
	
	<div class="container">
		<span>Recomendado para ti</span> <span><b>Ver
				mas</b></span>
		<ul class="nav nav-horizontal">
			<li>							
				<div class="thumbnail thumbnail-publicacion">
					<img src="products/tablet.jpg" alt="tablet">
					<div class="caption">
						<h4>$3500</h4>
					</div>
				</div>
			</li>
			<li>							
				<div class="thumbnail thumbnail-publicacion">
					<img src="products/tablet.jpg" alt="tablet">
					<div class="caption">
						<h4>$3500</h4>
					</div>
				</div>
			</li>
			<li>							
				<div class="thumbnail thumbnail-publicacion">
					<img src="products/tablet.jpg" alt="tablet">
					<div class="caption">
						<h4>$3500</h4>
					</div>
				</div>
			</li>
			<li>							
				<div class="thumbnail thumbnail-publicacion">
					<img src="products/tablet.jpg" alt="tablet">
					<div class="caption">
						<h4>$3500</h4>
					</div>
				</div>
			</li>
			<li>							
				<div class="thumbnail thumbnail-publicacion">
					<img src="products/tablet.jpg" alt="tablet">
					<div class="caption">
						<h4>$3500</h4>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<!-- fin basado en tu ultima visita -->
	
	<div class="container">
		<span>Ofertas y Promociones</span> <span><b>Ver
				mas</b></span>
		<ul class="nav nav-horizontal">
			<li>							
				<div class="thumbnail thumbnail-publicacion">
					<img src="products/tablet.jpg" alt="tablet">
					<div class="caption">
						<h4>$3500</h4>
					</div>
				</div>
			</li>
			<li>							
				<div class="thumbnail thumbnail-publicacion">
					<img src="products/tablet.jpg" alt="tablet">
					<div class="caption">
						<h4>$3500</h4>
					</div>
				</div>
			</li>
			<li>							
				<div class="thumbnail thumbnail-publicacion">
					<img src="products/tablet.jpg" alt="tablet">
					<div class="caption">
						<h4>$3500</h4>
					</div>
				</div>
			</li>
			<li>							
				<div class="thumbnail thumbnail-publicacion">
					<img src="products/tablet.jpg" alt="tablet">
					<div class="caption">
						<h4>$3500</h4>
					</div>
				</div>
			</li>
			<li>							
				<div class="thumbnail thumbnail-publicacion">
					<img src="products/tablet.jpg" alt="tablet">
					<div class="caption">
						<h4>$3500</h4>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<!-- fin basado en tu ultima visita -->
	
	

</body>
</html>
