<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{fragments/layout :: layout (~{::body},'publicacion')}">

<body>
	<div class="container">
		<div class="col-md-7 thin-margin">
			<div class="row thumbnail-publicacion">
				<img th:src="${producto.imagenes[0].url}" class="img-responsive center-block "
					alt="tablet" />
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos
					excepturi sequi ratione officiis omnis laboriosam minus id in fuga
					voluptates dolorem possimus nihil odit ea suscipit rem voluptas
					nulla quisquam!</p>
			</div>
			<div class="row thumbnail-publicacion">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos
					excepturi sequi ratione officiis omnis laboriosam minus id in fuga
					voluptates dolorem possimus nihil odit ea suscipit rem voluptas
					nulla quisquam!</p>
			</div>
			<div class="row thumbnail-publicacion">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos
					excepturi sequi ratione officiis omnis laboriosam minus id in fuga
					voluptates dolorem possimus nihil odit ea suscipit rem voluptas
					nulla quisquam!</p>
			</div>
			<div class="row thumbnail-publicacion">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos
					excepturi sequi ratione officiis omnis laboriosam minus id in fuga
					voluptates dolorem possimus nihil odit ea suscipit rem voluptas
					nulla quisquam!</p>
			</div>
			<div class="row thumbnail-publicacion">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos
					excepturi sequi ratione officiis omnis laboriosam minus id in fuga
					voluptates dolorem possimus nihil odit ea suscipit rem voluptas
					nulla quisquam!</p>
			</div>
		</div>
		<!-- fin 1ra columna -->

		<div class=" col-md-4 thin-margin">
			<div class="row thumbnail-publicacion">
				<h1>Tablet</h1>
				<h2>$1000</h2>
				<button type="button" class="btn btn-default">
					<span><img
						src="/svg-gliphicons/05-commerce/ecommerce-payment-hand-cash.svg"
						alt="" /></span>Comprar
				</button>
				<button type="button" class="btn btn-default">
					<span><img
						src="/svg-gliphicons/05-commerce/ecommerce-business-shopping-add-to-cart.svg"
						alt="" />Agregar</span>
				</button>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos
					excepturi sequi ratione officiis omnis laboriosam minus id in fuga
					voluptates dolorem possimus nihil odit ea suscipit rem voluptas
					nulla quisquam!</p>
			</div>

			<div class="row thumbnail-publicacion">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos
					excepturi sequi ratione officiis omnis laboriosam minus id in fuga
					voluptates dolorem possimus nihil odit ea suscipit rem voluptas
					nulla quisquam!</p>
			</div>
			<div class="row thumbnail-publicacion">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos
					excepturi sequi ratione officiis omnis laboriosam minus id in fuga
					voluptates dolorem possimus nihil odit ea suscipit rem voluptas
					nulla quisquam!</p>
			</div>
			<div class="row thumbnail-publicacion">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos
					excepturi sequi ratione officiis omnis laboriosam minus id in fuga
					voluptates dolorem possimus nihil odit ea suscipit rem voluptas
					nulla quisquam!</p>
			</div>
		</div>
		<!-- fin 2da columna -->
	</div>
	<!-- fin container-->
</body>
</html>